h1{
    margin-left: 60px;
    color: red;
}
h2{
    margin-left: 50px;
    color: blue;
}
h3{
    margin-left: 40px;
    color: green;
}
h4{
    margin-left: 30px;
    color: orange;
}
h5{
    margin-left: 20px;
    color: yellow;
}
h6{
    margin-left: 10px;
    color: pink;
}